[package]
name = "einat"
version = "0.1.1"
edition = "2021"
license = "GPL-2.0"
authors = ["Huang-Huang Bao <i@eh5.me>"]
repository = "https://github.com/EHfive/einat-ebpf"
rust-version = "1.74"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
strip = true

[features]
default = []
# Enable IPv6 NAPT
ipv6 = []
# Required on 32-bit platforms
bindgen = ["libbpf-sys/bindgen"]
# Link against static `libelf` and `zlib`.
static = ["libbpf-sys/static"]
#
# libbpf is vendrored and static in any case.
#

[dependencies]
anyhow = "1.0.82"
async-stream = "0.3.5"
bitflags = { version = "2.5.0", features = ["bytemuck"] }
bytemuck = { version = "1.15.0", features = ["derive"] }
fundu = "2.0.0"
futures-util = { version = "0.3.30", default-features = false, features = [
    "std",
] }
ipnet = { version = "2.9.0", features = ["serde"] }
lexopt = "0.3.0"
libbpf-rs = "0.23.0"
libbpf-sys = "1.4.0"
libc = "0.2.153"
netlink-packet-core = "0.7.0"
netlink-packet-route = "0.19.0"
netlink-sys = "0.8.6"
nix = { version = "0.28.0", features = ["net"] }
prefix-trie = "0.3.0"
rtnetlink = "0.14.1"
serde = { version = "1.0.197", features = ["derive"] }
tokio = { version = "1.37.0", features = ["macros", "rt", "signal", "sync"] }
toml = { version = "0.8.12", default-features = false, features = ["parse"] }
tracing = { version = "0.1.40", default-features = false, features = ["std"] }
tracing-subscriber = { version = "0.3.18", default-features = false, features = [
    "std",
    "fmt",
    "ansi",
] }

[target.'cfg(not(target_arch="x86_64"))'.dependencies]
libbpf-sys = { version = "1.4.0", features = ["bindgen"] }

[build-dependencies]
libbpf-cargo = "0.23.0"
